@model DoAnMon.Models.FriendRequest

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FriendRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequesterId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequesterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAccepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAccepted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
