<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Only A</title>
    <link rel="icon" type="image/x-icon" href="/images/Logo_Web.png" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/fontawesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Lobster&family=Pinyon+Script&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="/assets/css/custom.css" rel="stylesheet" />

    <!-- BOOTSTRAP STYLES-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- FONTAWESOME STYLES-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="/assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
        @@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

        html, body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            height: 100%;
        }
        /*PHẦN MENU CHÍNH*/
        .menu-container {
            background-color: white; 
            border-bottom: 1px solid #ddd;
            display: flex;
            justify-content: center;
            align-items: center; 
            height: 80px;
            width: 100%;
            position: fixed; /* Cố định menu */
            top: 0; /* Đặt menu ở phía trên cùng */
            left: 0;
            z-index: 1000;
        }

        .menu {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            margin-left: 500px;
            gap: 80px; /* Khoảng cách giữa các mục */
        }

        .login-item {
            display: flex;
            list-style: none;
            margin-left: auto;
            padding: 0;
        }

            .menu li a, .login-item li a {
                text-decoration: none;
                color: rgb(74, 113, 255);
                font-size: 32px; /* Kích thước icon */
                padding: 10px;
                display: inline-flex;
                align-items: center;
                transition: all 0.3s;
            }

                .menu li a:hover, .login-item li a:hover {
                    color: #a12af7;
                }

                .menu li a.active {
                    border-bottom: 5px solid rgb(74, 113, 255); 
                    padding-bottom: 10px;
                }
        
        .footer {
            background-color: rgb(74, 113, 255);
            color: white;
            text-align: center;
            padding: 20px 0;
            margin-top: auto;

        } 
        .footer-container {
            
            text-align: center;
        }

        .footer-icons {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

            .footer-icons a {
                color: white;
                text-decoration: none;
                font-size: 32px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 50px;
                transition: margin 0.3s, color 0.3s;
            }

                .footer-icons a .info {
                    font-size: 14px;
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: white;
                    color: black;
                    padding: 5px 10px;
                    border-radius: 5px;
                    white-space: nowrap;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                }

                .footer-icons a:hover i {
                    display: none;
                }

                .footer-icons a:hover .info {
                    display: block;
                }

                .footer-icons a:hover {
                    color: #ddd;
                    margin: 0 50px;
                }

        .footer-container p a{
            color:white;
            text-decoration:none;
        }

        .footer-container p a:hover {
            color: white;
            text-decoration: underline;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .content {
            flex: 1; /* Mở rộng để đẩy footer xuống cuối */
        }

        
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.18/signalr.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="menu-container">
                <ul class="menu">
                    <li>
                        <a href="/Home/Index" class="@(ViewContext.RouteData.Values["action"]?.ToString() == "Index" && ViewContext.RouteData.Values["controller"]?.ToString() == "Home" ? "active" : "")">
                            <i class="fas fa-home"></i>
                        </a>
                    </li> <!-- Trang chủ -->
                    <li>
                        <a href="/ClassRooms" class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "ClassRooms" ? "active" : "")">
                            <i class="fas fa-chalkboard"></i>
                        </a>
                    </li> <!-- Lớp học -->
                    <li>
                        <a href="/BaiTaps" class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "BaiTaps" ? "active" : "")">
                            <i class="fas fa-book"></i>
                        </a>
                    </li> <!-- Bài tập -->
                    <li>
                        <a href="/Schedule" class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Schedule" ? "active" : "")">
                            <i class="fas fa-calendar-alt"></i>
                        </a>
                    </li> <!-- Thời khoá biểu -->

                </ul>
                <ul class="login-item">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </header>
        <main class="content">
            @RenderBody()
        </main>
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-icons">
                    <a href="https://www.facebook.com/profile.php?id=61560499766790" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                        <div class="info">Only A Classroom</div>
                    </a>
                    <a href="https://www.instagram.com" target="_blank">
                        <i class="fab fa-instagram"></i>
                        <div class="info">Only A</div>
                    </a>
                    <a href="https://github.com/quyok808/DAMH_QLClassroom" target="_blank">
                        <i class="fab fa-github"></i>
                        <div class="info">OnlyA Classroom</div>
                    </a>
                    <a href="https://www.linkedin.com" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                        <div class="info">Only A</div>
                    </a>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=quyok8080@gmail.com" target="_blank">
                        <i class="fas fa-envelope"></i>
                        <div class="info">quyok8080@gmail.com</div>
                    </a>
                </div>
                <p style="color:white; margin:0;">
                    © 2024
                    <a href="https://zalo.me/0358361511" target="_blank" rel="noopener noreferrer">Only A</a>.
                    All rights reserved.
                </p>
            </div>

        </footer>

        @await RenderSectionAsync("Scripts", required: false)
    </div>
    <script>
        const connections = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        connections.on("ReceiveFriendRequestNotification", (requesterName) => {
            toastr.info(`Bạn có lời mời vào nhóm từ ${requesterName}`, 'Thông báo', {
                timeOut: 3000, 
                onclick: function () {
                    // Khi người dùng click vào thông báo, chuyển hướng
                    window.location.href = '/Notifications';
                }
            })

            const noti_count = document.getElementById("noti_count");
            if (noti_count) {
                let count = parseInt(noti_count.innerText, 10) || 0;
                count += 1;
                noti_count.innerText = count;
                noti_count.style.display = "inline"; // Hiển thị lại nếu đang bị ẩn
            }
        });
        connections.start().catch(err => console.error(err.toString()));
    </script>
</body>
</html>
