@using DoAnMon.IdentityCudtomUser
@using Microsoft.AspNetCore.Identity
@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager

@{
	var user = await UserManager.GetUserAsync(User);
	var fullname = user?.Name;
	var LISTROOM = ViewBag.ListRoom as List<ClassRoom>;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>ONLYA</title>

	<!-- BOOTSTRAP STYLES-->
	<link href="/assets/css/bootstrap.css" rel="stylesheet" />
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<!-- FONTAWESOME STYLES-->
	<link href="/assets/css/font-awesome.css" rel="stylesheet" />
	<!--CUSTOM BASIC STYLES-->
	<link href="/assets/css/basic.css" rel="stylesheet" />
	<!--CUSTOM MAIN STYLES-->
	<link href="/assets/css/custom.css" rel="stylesheet" />
	<!-- GOOGLE FONTS-->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

	<link rel="icon" href="/pics/exam.ico" type="image/x-icon">

</head>
<body>

	<div id="wrapper" style="background-color: white;">
		<img class="img-fluid banner-img" src="/Images/banner_google.png" alt="Banner No Image">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0;">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand" style="background-color: transparent!important;">
					<a href="/ClassRooms/Index" style="text-decoration: none; color: aliceblue;"><h2>Trang chủ</h2></a>
				</div>
			</div>
			<div class="header-right" style="text-align: center;">
				<div style="display: inline-block;">
					<a href="/ClassRooms/Create" class="btn btn-info" title="Create Classroom">
						<b>Tạo lớp </b><i class="fa fa-envelope-o fa-2x"></i>
					</a>
				</div>
				<div style="display: inline-block;">
					<button id="btnAddRoom" class="btn btn-primary">
						<b>Tham gia lớp học</b><i class="fa fa-bars fa-2x"></i>
					</button>
					@* ================ *@
					<div id="addRoomModal" class="modal" tabindex="-1">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" style="font-size:30px;font-weight:bold; color: #FA7070">THAM GIA PHÒNG HỌC</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>

								<form id="createRoomForm" action="/ClassRooms/JoinClassV1" method="post">
									<div class="modal-body">
										<div class="col-md-12" style="width: 100%">
											<div asp-validation-summary="ModelOnly" class="text-danger"></div>
											<div class="form-group">
												<label for="ClassRoomId" class="control-label">Tên lớp:</label>
												<input name="ClassRoomId" id="Name" class="form-control custom-input-width" required />
												<span id="NameError" class="text-danger"></span>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
										<input type="submit" value="Tham Gia" class="btn btn-primary" />
									</div>
								</form>


							</div>
						</div>
					</div>
					@* ====================== *@
				</div>
				<div style="display: inline-block;">
					<form class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
						<button type="submit" class="btn btn-danger" style="font-size: 18px; font-weight: bold;">Logout</button>
					</form>
				</div>
			</div>

		</nav>
		<!-- /. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li>
						<a href="/Identity/Account/Manage/Index" style="padding: 0; margin-bottom: -1px;">
							<div class="user-img-div" style="padding: 10px 15px 0 0;">
								@{
									if (user != null)
									{
										<div class="col-md-6" style="margin-bottom: 10px">
											<img src="~/Imgs_avtUser/@user.UrlAvt" class="img-thumbnail img-fluid" style="width: 122.5px; height: auto; height: 160.13px;" onerror="this.onerror=null; this.src='/Images/avatar.jpg';" />
										</div>
										<div class="col-md-6" style="margin-left: 0; padding-left: 0; align-items: center; padding-top: 15px;">
											<p style="line-height: 30px; font-weight: bold; font-size: 20px; padding-bottom: 30px;">@fullname</p>
											<p style="font-weight: bold; font-size: 20px;">@user.Mssv</p>
										</div>
									}
								}
							</div>
						</a>
					</li>


					<li>
						<a class="active-menu" href="/ClassRooms/Index"><i class="fa fa-dashboard "></i>Danh sách lớp học</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-square-o "></i>Bài Tập</a>
					</li>
					@{
						foreach(var item in LISTROOM)
						{
							<li>
								<div style="background-color: white!important; width: 320px; height:55.89px; display:grid; place-items: center;padding: 0;">
									<a asp-action="Details" asp-controller="ClassRooms" asp-route-id="@item.Id"
									   style="
											background-color: pink;
											border-radius: 10px;
											width: 95%;
											height: 80%;
											display: grid;
											place-items: center;
											font-size: 20px;"
									>@item.Name</a>
								</div>
							</li>
						}
					}
				</ul>

			</div>

		</nav>
		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">
				<!-- Renderbody() -->
				@RenderBody()
				<!-- END Renderbody() -->
			</div>
			<!-- /. PAGE INNER  -->
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>
	<!-- /. WRAPPER  -->

	<div id="footer-sec" style="text-align: center;">
		&copy; 2024 ONLYA | Design By : <a href="http://www.binarytheme.com/" target="_blank">ONLYA</a>
	</div>
	<!-- /. FOOTER  -->
	<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
	<!-- JQUERY SCRIPTS -->
	<script src="/assets/js/jquery-1.10.2.js"></script>
	<!-- BOOTSTRAP SCRIPTS -->
	<script src="/assets/js/bootstrap.js"></script>
	<script src="/assets/js/bootstrap.bundle.min.js"></script>
	<!-- METISMENU SCRIPTS -->
	<script src="/assets/js/jquery.metisMenu.js"></script>
	<!-- CUSTOM SCRIPTS -->
	<script src="/assets/js/custom.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script>
		$(document).ready(function () {
			$("#btnAddRoom").click(function () {
				$("#addRoomModal").modal('show');
			});


			$(".btn-info").click(function () {
				$(this).closest("tr").find(".room-description").toggle();
			});
		});
	</script>


	@RenderSection("Scripts", required: false)
</body>
</html>
