@{
	Layout = null;
}
@using static DoAnMon.Models.ClassroomViewModel

@model List<ClassRoomViewModel>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!--Color-->
	<!-- Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link href="/assets/css/color.css" rel="stylesheet" />
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #00CA79;padding: 0 5;">
		<a asp-controller="ClassRooms" asp-action="Index" class="navbar-brand" style="font-family: 'Roboto Slab', sans-serif; padding: 0;">
			<img style="padding: 0;" src="~/images/xanh.png" alt="Logo" width="70" height="auto" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			</ul>
		</div>
	</nav>
	<div class="container-fluid mt-5" style="font-family: 'Montserrat', sans-serif">
		<h2 class="page-title" style="font-family: 'Roboto Slab', sans-serif;">Quản lý phòng học</h2>
		<div class="card">
			<div class="card-body">
				<div class="row mt-4">
					<div class="col-12" style="text-align: center;">
						<button id="btnAddRoom" class="btn btn-primary">Thêm phòng học</button>
					</div>
				</div>

				<div id="addRoomModal" class="modal" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" style="font-size:30px;font-weight:bold; color: #FA7070">THÊM PHÒNG HỌC</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<form id="createRoomForm" method="post" asp-action="Create">
								<div class="modal-body">
									<div class="col-md-12" style="width: 100%">
										<div asp-validation-summary="ModelOnly" class="text-danger"></div>
										<div class="form-group">
											<label for="Name" class="control-label">Tên lớp:</label>
											<input name="Name" id="Name" class="form-control custom-input-width" required />
											<span id="NameError" class="text-danger"></span>
										</div>
										<div class="form-group">
											<label for="Description" class="control-label">Mô tả lớp:</label>
											<input name="Description" id="Description" class="form-control custom-input-width" />
											<span id="DescriptionError" class="text-danger"></span>
										</div>
										<!-- Thêm các trường cho lịch học -->
										<div class="form-group">
											<label for="StartDate" class="control-label">Ngày bắt đầu:</label>
											<input type="date" name="StartDate" id="StartDate" class="form-control" required />
										</div>
										<div class="form-group">
											<label for="EndDate" class="control-label">Ngày kết thúc:</label>
											<input type="date" name="EndDate" id="EndDate" class="form-control" required />
										</div>
										<div class="form-group">
											<label for="DaysOfWeek" class="control-label">Chọn ngày học:</label>
											<select name="DaysOfWeek" id="DaysOfWeek" multiple class="form-control" required>
												<option value="Monday">Thứ 2</option>
												<option value="Tuesday">Thứ 3</option>
												<option value="Wednesday">Thứ 4</option>
												<option value="Thursday">Thứ 5</option>
												<option value="Friday">Thứ 6</option>
												<option value="Saturday">Thứ 7</option>
												<option value="Sunday">Chủ nhật</option>
											</select>
										</div>
										<div class="form-group">
											<label for="StartTime" class="control-label">Giờ bắt đầu:</label>
											<input type="time" name="StartTime" id="StartTime" class="form-control" required />
										</div>
										<div class="form-group">
											<label for="EndTime" class="control-label">Giờ kết thúc:</label>
											<input type="time" name="EndTime" id="EndTime" class="form-control" required />
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
									<input type="submit" value="Tạo phòng" class="btn btn-primary" />
								</div>
							</form>


						</div>
					</div>
				</div>


				<div class="row mt-4">
					<div class="col-md-12">
						<h4>Danh sách phòng học</h4>
						<table class="table">
							<thead>
								<tr>
									<th>Mã phòng</th>
									<th>Tên phòng</th>
									<th>Mô tả</th>
									<th>Giảng viên</th>
									<th>ClassRoom Link</th>
									<th>Chức năng</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.ClassRoom.Id</td>
										<td>@item.ClassRoom.Name</td>
										<td class="description">@item.ClassRoom.Description</td>
										<td class="teacher-name">@item.ClassRoom.User.Name</td>
										<td>@item.ClassRoom.RoomOnline</td>
										<td style=" display: flex;justify-content: space-evenly;">
											<a asp-action="Edit" asp-route-id="@item.ClassRoom.Id" class="btn btn-sm btn-info btn-action" style="height: 30.6px;">Edit</a>
											<form asp-action="Delete" method="post">
												<input type="hidden" name="Id" value="@item.ClassRoom.Id" />
												<button type="submit" class="btn btn-sm btn-danger btn-action">Xóa</button>
											</form>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<!-- Bootstrap JS and jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.20.0/dist/axios.min.js"></script>
	<script src="https://cdn.stringee.com/sdk/web/2.2.1/stringee-web-sdk.min.js"></script>

	
	<script src="/createroom/api.js"></script>
	<script src="/createroom/script1.js"></script>
	<script>
		$(document).ready(function () {
			$("#btnAddRoom").click(function () {
				vm.createRoom();
				$("#addRoomModal").modal('show');
			});

			$(".btn-info").click(function () {
				$(this).closest("tr").find(".room-description").toggle();
			});
		});
	</script>
	<script>
		document.getElementById('createRoomForm').addEventListener('submit', function (event) {
			var startDateInput = document.getElementById('StartDate').value;
			var endDateInput = document.getElementById('EndDate').value;

			if (!startDateInput || !endDateInput) {
				alert('Vui lòng chọn cả ngày bắt đầu và ngày kết thúc.');
				event.preventDefault(); // Prevent form submission
				return;
			}

			var startDate = new Date(startDateInput);
			var endDate = new Date(endDateInput);
			var today = new Date();
			today.setHours(0, 0, 0, 0); // Set time to 00:00:00

			if (startDate < today) {
				alert('Ngày bắt đầu không được chọn ngày trước hôm nay.');
				event.preventDefault(); // Prevent form submission
				return;
			}

			if (endDate <= startDate) {
				alert('Ngày kết thúc phải lớn hơn ngày bắt đầu.');
				event.preventDefault(); // Prevent form submission
				return;
			}

			var startTimeInput = document.getElementById('StartTime').value;
			var endTimeInput = document.getElementById('EndTime').value;

			if (!startTimeInput || !endTimeInput) {
				alert('Vui lòng chọn cả giờ bắt đầu và giờ kết thúc.');
				event.preventDefault(); // Prevent form submission
				return;
			}

			var startTime = new Date('1970-01-01T' + startTimeInput + 'Z');
			var endTime = new Date('1970-01-01T' + endTimeInput + 'Z');

			if (endTime <= startTime) {
				alert('Giờ kết thúc phải lớn hơn giờ bắt đầu.');
				event.preventDefault(); // Prevent form submission
				return;
			}
		});
	</script>
</body>