@using DoAnMon.IdentityCudtomUser
@using Microsoft.AspNetCore.Identity
@inject UserManager<CustomUser> _userManager
@inject IUserStore<CustomUser> _userStore
@using static DoAnMon.Models.ClassroomViewModel
@model ClassRoomViewModel

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>
	body {
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.cover-photo {
		width: 100%;
		height: 300px;
		background-image: url('path/to/your/cover/photo.jpg');
		background-size: cover;
		background-position: center;
	}

	.class-info {
		padding: 20px;
		text-align: center;
	}

		.class-info h1 {
			font-size: 30px;
			margin-bottom: 10px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.class-info p {
			font-size: 16px;
			margin-bottom: 15px;
		}

	/* Menu dropdown Thêm thành viên */
	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		z-index: 1;
		text-align: start;
	}

		.dropdown-content a, .dropdown-content p {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

			.dropdown-content a:hover {
				background-color: #f1f1f1;
			}

	.dropdown:hover .dropdown-content {
		display: block;
	}

	/* ================================= */

	.tabs {
		overflow: hidden;
		border-bottom: 1px solid #ccc;
	}

	.tab {
		float: left;
		cursor: pointer;
		padding: 14px 16px;
		transition: background-color 0.3s;
	}

		.tab:hover {
			background-color: #ddd;
		}

		.tab.active {
			background-color: #ccc;
		}

	.tabcontent {
		display: none;
		padding: 20px;
		clear: both;
	}

	.posts {
		padding-top: 20px;
	}

	.post {
		border-bottom: 1px solid #ccc;
		padding: 20px 0;
		margin-bottom: 20px;
	}

		.post img {
			max-width: 100%;
			height: auto;
			margin-bottom: 10px;
		}

		.post h2 {
			font-size: 20px;
			margin-bottom: 10px;
		}

		.post p {
			font-size: 16px;
			margin-bottom: 10px;
		}

		.post .author {
			font-style: italic;
			color: #666;
		}

	/* CHAT - Thảo luận */

	.chat-container {
		max-width: 100%;
		margin: 20px auto;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 10px;
	}

	.chat-messages {
		max-height: 100%;
		/* Chiều cao tối đa của phần hiển thị tin nhắn */
		overflow-y: auto;
		/* Tạo thanh cuộn khi cần thiết */
		padding: 10px;
		border-bottom: 1px solid #ccc;
	}

	.message-form-container {
		margin-top: 10px;
		/* Khoảng cách giữa phần hiển thị và phần nhập */
	}

	.message-form {
		display: flex;
		align-items: center;
	}

	.message-input {
		flex: 1;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px 0 0 5px;
		outline: none;
	}

	.send-button {
		background-color: #007bff;
		color: white;
		border: none;
		border-radius: 0 5px 5px 0;
		padding: 10px 20px;
		cursor: pointer;
		transition: background-color 0.3s;
	}

		.send-button:hover {
			background-color: #0056b3;
		}

	/* THÔNG TIN GIẢNG VIÊN */
	.teacher-info {
		background-color: #f9f9f9;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		/* Thêm bóng đổ */
	}

	.teacher-details {
		display: flex;
		align-items: center;
	}

	.teacher-image {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin-right: 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		/* Thêm bóng đổ */
	}

	.teacher-text {
		flex: 1;
	}

		.teacher-text p {
			margin-bottom: 10px;
		}

			.teacher-text p strong {
				font-weight: bold;
				color: #e72323;
			}

	/* POST BÀI GIẢNG */
	.post {
		margin-bottom: 20px;
		padding: 20px;
		background-color: #f9f9f9;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

		.post h2 {
			font-size: 24px;
			margin-bottom: 10px;
			text-align: center;
		}

	.pdf-container {
		width: 100%;
		height: 600px;
		overflow: auto;
	}

		.pdf-container object {
			width: 100%;
			height: 100%;
		}

		.pdf-container embed {
			width: 100%;
			height: 100%;
		}

	/* BÀI TẬP */
	.assignment {
		background-color: #f9f9f9;
		padding: 20px;
		border-radius: 5px;
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid #ccc; /* Thêm viền */
	}

	.assignment-content {
		flex-grow: 1;
		margin-right: 20px;
	}

	.assignment h3 {
		margin-top: 0;
		margin-bottom: 10px;
	}

	.assignment-description {
		margin-bottom: 20px;
	}

	.file-input-wrapper {
		margin-right: 20px;
	}

	.file-label {
		font-weight: bold;
	}

	.file-input {
		display: none;
	}

	.btn {
		padding: 10px 20px;
		color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s;
	}

	.custom-button {
		background-color: #007bff;
	}

	.btn:hover {
		background-color: #0056b3;
	}

	/* UPLOAD BAITAP */
	.upload-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}

	.file-label {
		margin-bottom: 10px;
	}

	.file-input-wrapper {
		width: 100%;
	}

	.file-input {
		width: 100%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #f9f9f9;
		transition: border-color 0.3s;
		margin: 10px;
	}

		.file-input:focus {
			border-color: #007bff;
			outline: none;
		}

	.btn {
		width: 100%;
		max-width: 200px; /* Đảm bảo nút không quá rộng */
	}

</style>

<div>
	<img class="img-fluid" src="/Images/banner_google.png" alt="No Images" />
</div>
<div class="class-info">
	<h1>@Model.ClassRoom.Name</h1>
	<p>@Model.ClassRoom.Description</p>
	<div class="container">
		<div class="row">
			<div class="col-md-6" style="margin-bottom: 10px;">
				<div class="d-flex justify-content-start">
					<a href="@Model.ClassRoom.RoomOnline" class="btn btn-primary custom-button" id="join-btn">Tham gia phòng học</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="d-flex justify-content-end">
					<div class="more-options" style="display: inline;">
						<div class="dropdown">
							<button class="btn btn-secondary custom-button">
								<i>Thêm Thành Viên</i>
							</button>
							<div class="dropdown-content">
								<a href="#">Thêm danh sách sinh viên</a>
								<p>Mã lớp: @Model.ClassRoom.Id</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="tabs">
	<div class="tab" onclick="openTab(event, 'teacher')">Thông tin giáo viên</div>
	<div class="tab" onclick="openTab(event, 'posts')">Bài Giảng</div>
	<div class="tab" onclick="openTab(event, 'assignments')">Bài tập</div>
	<div class="tab" onclick="openTab(event, 'discussion')">Thảo luận</div>
</div>
<div id="teacher" class="tabcontent" style="display: none;">
	<div class="teacher-info">
		<h2>Thông tin giáo viên</h2>
		<div class="teacher-details">
			<img src="/Imgs_avtUser/@Model.Owner.UrlAvt" alt="Ảnh giáo viên" class="teacher-image">
			<div class="teacher-text">
				<p><strong>Mã giảng viên:</strong> @Model.Owner.Mssv</p>
				<p><strong>Tên:</strong> @Model.Owner.Name</p>
				<p><strong>Email:</strong> @Model.Owner.Email</p>
			</div>
		</div>
	</div>

</div>
<div id="posts" class="tabcontent">
	@{
		if (Model.isOwner)
		{
			<div>
				<button onclick="showUploadForm()">Nhập tên và Upload</button>
				<form id="uploadForm" action="/ClassRooms/Upload" method="POST" enctype="multipart/form-data" style="display: none;">
					<input type="hidden" name="lectureName" id="lectureNameInput">
					<input type="hidden" name="ClassId" id="classIdInput" value="@Model.ClassRoom.Id">
					<input type="file" name="pdfFile" id="pdfFileInput" accept=".pdf">
				</form>

			</div>
		}
	}
	<div class="posts" id="lectureContainer">
		<partial name="_lecturePartial" model="Model.Unit" />
	</div>

</div>
<div id="assignments" class="tabcontent">
	@{
		if (Model.isOwner)
		{
			<button id="uploadButton" onclick="Showtaobaitap()">Tạo bài tập</button>
			<form id="uploadbaitap" action="/ClassRooms/CreateBaitap" method="POST" enctype="multipart/form-data" style="display: none;">
				<div class="form-section">
					<!-- Phần nhập tiêu đề -->
					<input type="text" name="Title" id="titleInput" class="form-control" placeholder="Nhập tiêu đề">
					<!-- Gạch ngang -->
					<hr>
					<!-- Phần nhập mô tả -->
					<textarea name="Content" id="descriptionInput" class="form-control" placeholder="Nhập mô tả"></textarea>
					<label for="fileFormatSelect">Chọn định dạng bài tập:</label>
					<select name="FileFormat" id="fileFormatSelect">
						<option value="pdf">pdf</option>
						<option value="docx">docx</option>
						<option value="xls">xls</option>
						<!-- Thêm các loại định dạng khác nếu cần -->
					</select>

				</div>
				<input type="hidden" name="ClassId" id="classIdInput" value="@Model.ClassRoom.Id">
				<input type="file" name="FileUpLoad" id="FileInput" /> <!-- Ẩn input file -->
				<input type="submit" value="CreateBaitap" class="btn btn-primary"></input> <!-- Nút giao bài -->
				@*<button type="button" onclick="openFileDialog()">Tải lên</button> <!-- Nút tải lên -->*@
			</form>
		}
	}
	<div class="assignments">
		<h2>Danh sách bài tập</h2>
		@foreach (var assignment in Model.Homework.ToList())
		{
			<div class="assignment" style="height: 30vh;">
				<div class="assignment-content" style="border-right: 1px solid black; height: 100%; width: 100%; margin: 50px;">
					<h3 class="text-center">@assignment.Title</h3>
					<p class="assignment-description">@assignment.Content</p>
					<!-- Hiển thị loại định dạng đã chọn -->
					<p class="assignment-file-format">Yêu cầu nộp file: @assignment.FileFormat</p>
				</div>
				<form id="submitForm_@assignment.Id" action="/ClassRooms/Nopbai" method="post" enctype="multipart/form-data" class="assignment-form" onsubmit="return validateAndSubmit('@assignment.FileFormat', '@assignment.Id')">
					<div class="upload-form ">
						<label for="file-upload" class="file-label">Bài tập của bạn:</label>
						<div class="file-input-wrapper">
							@* @if (assignment.HasSubmittedFile)
						// {
						// 	<p>Đã nộp bài</p>
						// }
						// else
						// {
						// 	<p>Thiếu</p>
						// 	<input id="FileInput_@assignment.Id" type="file" name="FileNopbai">
						// 	<input type="hidden" name="ClassId" id="classIdInput" value="@Model.ClassRoom.Id">
						// 	<input type="hidden" name="BaitapId" id="baitapinput" value="@assignment.Id">
						// }
						*@
						</div>
						<div id="previewContainer_@assignment.Id"></div>
						<button type="button" onclick="previewFile('@assignment.Id')">Xem trước</button>
						@*if (!assignment.HasSubmittedFile)
					{*@
						<button type="submit">Nộp bài</button>
						<button type="button" onclick="previewFile('@assignment.Id')">Xem trước</button>
						@*}*@

					</div>
				</form>
			</div>
		}
	</div>
</div>
<div id="discussion" class="tabcontent">
	<div class="discussion">
		<div class="container">
			<div class="row p-1" hidden>
				<div class="col-5"><input type="text" id="userInput" class="form-control" /></div>
				<div class="col-5">
					<input type="text" id="classId" class="form-control" value="@Model.ClassRoom.Id" />
				</div>
			</div>
			<div class="row p-1">
				<div class="col-1">Tin nhắn: </div>
				<div class="col-5"><input type="text" class="form-control" id="messageInput" /></div>
				<div class="col-6 text-end" style="margin-top: 10px;">
					<input type="button" id="sendButton" class="btn btn-primary" value="Gửi" />
				</div>
			</div>

			<div class="row p-1">
				<div class="col-6">
					<hr />
				</div>
			</div>
			<div class="row p-1">
				<div class="col-6">
					<ul id="messagesList" class="list-group" style="text-decoration: none; overflow: auto; max-height: 500px;">
						<partial name="_MessagePartial" model="Model.Message" />

					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function openTab(evt, tabName) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tab");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].classList.remove("active");
		}
		document.getElementById(tabName).style.display = "block";
		evt.currentTarget.classList.add("active");
	}
</script> @* Chuyển tab trên trang *@
<script>
	function reloadLecture() {
		var xhr = new XMLHttpRequest();
		xhr.open('GET', '/ClassRooms/GetLecture?ClassId=' + encodeURIComponent(document.getElementById('classIdInput').value), true);
		xhr.onload = function () {
			if (xhr.status === 200) {
				// Lấy dữ liệu mới từ phản hồi AJAX
				var newData = xhr.responseText;

				// Cập nhật nội dung của phần tử trên trang web
				document.getElementById('lectureContainer').innerHTML = newData;
			} else {
				// Xử lý lỗi
				console.error('Error:', xhr.statusText);
			}
		};
		xhr.send();
	}



	function showUploadForm() {
		var lectureName = prompt("Nhập tên bài giảng:");

		if (!lectureName) {
			alert("Vui lòng điền tên bài giảng.");
			return;
		}

		var pdfFileInput = document.getElementById('pdfFileInput');
		var lectureNameInput = document.getElementById('lectureNameInput');

		// Cập nhật giá trị của các trường dữ liệu trong form ẩn
		lectureNameInput.value = lectureName;

		// Xử lý khi người dùng chọn tệp
		pdfFileInput.onchange = function () {
			var file = pdfFileInput.files[0];
			if (!file) {
				alert("Vui lòng chọn một tệp PDF.");
				return;
			} else
				// Kiểm tra phần mở rộng của tệp
				if (file.type !== 'application/pdf') {
					alert("Vui lòng chỉ chọn tệp PDF.");
					return;
				}
			var classid = document.getElementById('classIdInput').value;
			var formData = new FormData();
			formData.append('pdfFile', file);
			formData.append('lectureName', lectureName);
			formData.append('ClassId', classid);

			// Gửi yêu cầu AJAX để tải lên tệp
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/ClassRooms/Upload', true); // Điều chỉnh URL tương ứng với endpoint backend của bạn
			xhr.onload = function () {
				if (xhr.status === 200) {
					// Nếu tải lên thành công, thực hiện làm mới dữ liệu
					reloadLecture();
				} else {
					// Xử lý lỗi
					alert('Đã xảy ra lỗi khi tải lên tệp.' + xhr.status);
				}
			};
			xhr.send(formData);
		};

		// Kích hoạt sự kiện click để mở hộp thoại chọn tệp
		pdfFileInput.click();
	}


</script> @* Tạo bài giảng mới *@
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/he@1.2.0/he.min.js"></script>
<script>
	document.addEventListener("DOMContentLoaded", async function () {
		try {
			var encodedName = "@((await _userManager.GetUserAsync(User)).Name)";
			var decodedName = he.decode(encodedName);
			document.getElementById("userInput").value = (@User.Identity.Name + " _ " + decodedName);
		} catch (error) {
			console.error("Error decoding user name:", error);
		}
	});

	connection.on("ReceiveMessage", function (user, message) {
		var li = document.createElement("li");
		document.getElementById("messagesList").appendChild(li);
		const currentTime = new Date();
		const year = currentTime.getFullYear();
		const month = currentTime.getMonth() + 1;
		const day = currentTime.getDate();
		const hours = currentTime.getHours();
		const minutes = currentTime.getMinutes();
		const seconds = currentTime.getSeconds();
		const formatTime = `${hours}:${minutes}:${seconds} - ${day}/${month}/${year}`;
		var classId = document.getElementById("classId").value;

		var message = `<strong>${user} (${formatTime}):</strong> ${message}`;
		li.innerHTML = message;

		var messagesList = document.getElementById("messagesList");
		if (messagesList.firstChild) {
			messagesList.insertBefore(li, messagesList.firstChild); // Thêm tin nhắn mới vào đầu danh sách
		} else {
			messagesList.appendChild(li); // Nếu danh sách trống, thêm tin nhắn vào cuối danh sách
		}

	});

	document.getElementById("sendButton").addEventListener("click", function (event) {
		var user = document.getElementById("userInput").value;
		var message = document.getElementById("messageInput").value;

		const currentTime = new Date();
		const year = currentTime.getFullYear();
		const month = currentTime.getMonth() + 1;
		const day = currentTime.getDate();
		const hours = currentTime.getHours();
		const minutes = currentTime.getMinutes();
		const seconds = currentTime.getSeconds();
		const formatTime = `${hours}:${minutes}:${seconds} - ${day}/${month}/${year}`;
		var classId = document.getElementById("classId").value;

		connection.invoke("SendMessage", user, message, formatTime, classId).catch(function (err) {
			return console.error(err.toString());
		});

		document.getElementById("messageInput").value = '';
		document.getElementById("messageInput").focus();

	});

	document.getElementById("messageInput").addEventListener("keydown", function (event) {
		if (event.key == 'Enter' && !event.shiftKey) {
			event.preventDefault();
			var user = document.getElementById("userInput").value;
			var message = document.getElementById("messageInput").value;

			const currentTime = new Date();
			const year = currentTime.getFullYear();
			const month = currentTime.getMonth() + 1;
			const day = currentTime.getDate();
			const hours = currentTime.getHours();
			const minutes = currentTime.getMinutes();
			const seconds = currentTime.getSeconds();
			const formatTime = `${hours}:${minutes}:${seconds} - ${day}/${month}/${year}`;
			var classId = document.getElementById("classId").value;

			connection.invoke("SendMessage", user, message, formatTime, classId).catch(function (err) {
				return console.error(err.toString());
			});

			document.getElementById("messageInput").value = '';
			document.getElementById("messageInput").focus();
		}
	});

</script> @* Gửi tin nhắn *@
<script src="https://apis.google.com/js/api.js"></script>
<script>
	function validateAndSubmit(requiredFormat, assignmentId) {
		var fileInput = document.getElementById("FileInput_" + assignmentId);
		var fileName = fileInput.value;
		var fileExtension = fileName.split('.').pop().toLowerCase();

		// Kiểm tra xem định dạng file có phù hợp không
		if (fileExtension === requiredFormat.toLowerCase()) {
			// Nếu đúng định dạng, tiến hành nộp bài
			return true; // Form sẽ được gửi đi
		} else {
			// Nếu không đúng định dạng, hiển thị thông báo lỗi
			alert("Định dạng file không đúng. Vui lòng chọn file có định dạng " + requiredFormat);
			return false; // Ngăn form được gửi đi
		}
	}
	function previewFile(assignmentId) {
		var fileInput = document.getElementById('FileInput_' + assignmentId);
		var file = fileInput.files[0];

		//Tạo một URL và mở nó trong một tab mới để tải xuống
		var fileURL = URL.createObjectURL(file);
		window.open(fileURL, '_blank');
	}
</script> @* Upload File *@
<script>
	function Showtaobaitap() {
		var uploadButton = document.getElementById("uploadButton");
		uploadButton.style.display = "none"; // Ẩn button khi form được hiển thị

		var uploadForm = document.getElementById("uploadbaitap");
		uploadForm.style.display = "block"; // Hiển thị form khi nút được nhấn

		// Hiển thị phần nhập tiêu đề
		var titleInput = document.getElementById("titleInput");
		titleInput.style.display = "block";

		// Hiển thị phần nhập mô tả
		var descriptionInput = document.getElementById("descriptionInput");
		descriptionInput.style.display = "block";

		var attachmentForm = document.getElementById("attachmentForm");
		attachmentForm.style.display = "block"; // Hiển thị form đính kèm
	}
	function openFileDialog() {
		var fileInput = document.getElementById("FileInput");
		fileInput.click(); // Kích hoạt sự kiện click cho input file
	}

	// function submitAssignment() {
	// 	// Thực hiện xử lý khi nút "Giao bài" được nhấn
	// 	// Ví dụ: Kiểm tra dữ liệu, gửi request đến server, ...
	// }

</script> @* Tạo Bài tập *@
