@using DoAnMon.IdentityCudtomUser
@using Microsoft.AspNetCore.Identity
@using System.Text
@inject UserManager<CustomUser> _userManager
@model IEnumerable<DoAnMon.Models.BaiNop>

@{
	ViewData["Title"] = "GetAllStu";
	Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Bài nộp của sinh viên</h2>
@{
	// Chuyển danh sách List<BaiNop> sang chuỗi JSON và mã hóa nó
	string baiNopJson = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
	string baiNopBase64 = Convert.ToBase64String(Encoding.UTF8.GetBytes(baiNopJson));
}
@{
	if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
	{
		<a asp-controller="ClassRooms" asp-action="DownloadFiles" asp-route-baiNop="@baiNopBase64">Download Files</a>
	}
}

<table class="table">
	<thead>
		<tr>
			<th>
				Mã lớp
			</th>
			<th>
				Thời gian nộp
			</th>
			<th>
				Tên người nộp
			</th>
			<th>
				File nộp
			</th>
			<th>
				Điểm
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ClassId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SubmittedAt)
				</td>
				<td>
					@{
						var user = await _userManager.FindByIdAsync(@item.UserId);
					}
					@Html.DisplayFor(modelItem => user.Name)

				</td>
				<td>
					<a href="/BAINOP/@item.Urlbainop" download>@item.Urlbainop</a>
				</td>
				<td>
					@if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
					{
						<input type="number" id="diem" name="diem" value="@item.Diem" />
						<button onclick="saveGrade('@item.IdBaiNop')">Save</button>
					}
					else
					{
						@Html.DisplayFor(modelItem => item.Diem)
					}
				</td>

			</tr>
		}
	</tbody>
</table>

<script>
	function saveGrade(baiNopId) {
		var diem = document.getElementById("diem").value;
		// Gửi yêu cầu AJAX để lưu điểm vào cơ sở dữ liệu
		// Ví dụ:
		$.post("/ClassRooms/SaveGrade", { baiNopId: baiNopId, diem: diem }, function(data) {
		    alert("Đã lưu điểm thành công!");
		});
	}
</script>

